<a class="modal-trigger" href="#<perch:content id="modal" type="text" label="Modal ID" />"><img src="<perch:content id="image" type="image" label="Profile Image" help="Upload an image for a team member" width="250px" height="250px" />" alt="<perch:content id="name" type="text" label="Full Name" />"></a>
<div id="<perch:content id="modal" type="text" label="Modal ID" />" class="modal">
  <div class="modal-content">
    <h4 class="genFont"><perch:content id="name" type="text" label="Full Name" /></h4>
    <img src="<perch:content id="image" type="image" label="Profile Image" help="Upload an image for a team member" width="250px" height="250px" />" alt="<perch:content id="name" type="text" label="Full Name" />">
    <p><perch:content id="bio" type="text" label="Bio" help="Enter team member bio here" /></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>
